<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2>상품 등록 폼</h2>
    </div>

    <!-- th:object : addForm.html 뷰를 반환하는 컨트룰러에서 model에 넘긴 item 객체를 가져온다. ${...}에는 model 속성의 key 값을 작성한다.(key 값을 기반으로 객체 조회)-->
    <form action="item.html" th:action th:object="${item}" method="post">
        <div>
            <label for="itemName">상품명</label>
            <!-- th:field : 타임리프에서 스프링을 위해 제공하는 특별한 기능, 렌더링시에 item 객체의 필드명(e.g. itemName)과 동일한 값으로 id 속성과 name 속성을 자동으로 만들어준다.
                - 아래 예시에서 id="itemName"을 생략해도 동작엔 문제 없지만 label for="itemName"에서 id 값을 찾지 못해 문법 오류가 발생한다. (거슬리면 아래와 같이 id를 남기고, 상관없으면 생략)
            -->
            <input type="text" id="itemName" th:field="*{itemName}" class="form-control" placeholder="이름을 입력하세요">
            <!-- 즉, 렌더링 후에 위 코드는 아래 코드와 동일하다.
            <input type="text" id="itemName" name="itemName" class="form-control" placeholder="이름을 입력하세요">
             -->
        </div>
        <div>
            <label for="price">가격</label>
            <input type="text" id="price" th:field="*{price}" class="form-control" placeholder="가격을 입력하세요">
        </div>
        <div>
            <label for="quantity">수량</label>
            <input type="text" id="quantity" th:field="*{quantity}" class="form-control" placeholder="수량을 입력하세요">
        </div>

        <hr class="my-4">

        <!-- single checkbox -->
        <div>판매 여부</div>
        <div>
            <div class="form-check">
                <input type="checkbox" id="open" th:field="*{open}" class="form-check-input">
                <label for="open" class="form-check-label">판매 오픈</label>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">상품 등록</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='items.html'"
                        th:onclick="|location.href='@{/form/items}'|"
                        type="button">취소</button>
            </div>
        </div>

    </form>

</div> <!-- /container -->
</body>
</html>